@import "tailwindcss";
@import "tw-animate-css";

@tailwind utilities;


/* CSS Variables for consistent font usage */
:root {
  --font-primary: "Inter", "Times New Roman", Arial, sans-serif;
}

html,
body {
  
  font-family: var(--font-primary);
  background-color: #000000;
}